
body {
  height: 97vh;
  background-image: url('../images/lfz-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.lfz-card {
  background-image: url('../images/lfz-card.jpg');
  background-size: cover;
  max-height: 100%;
  margin: 3px;
  background-position: center;
}

.flex {
  display: flex;
}

header {
  width: 100%;
}
/* width set to 100% for header to take up entire space */

aside {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside > div {
  background-color: #87CEEB;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  margin: 10px;
}

.stats > p {
  font-size: 25px;
}

main {
  flex-wrap: wrap;
  height: 85vh;
}
