
body {
  height: 97vh;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.lfz-card {
  background-image: url('../images/card.png');
  background-size: contain;
  /* max-height: 100%; */
  height: 200px;
  margin: 4px;
  background-position: center;
  position: relative;
}

.card-back {
  background-image: url('../images/card.png');
}

.chandler-bing {
  background-image: url('../images/chandler-bing.png');
}

.janice {
  background-image: url('../images/janice.png');
}

.joey-tribbiani {
  background-image: url('../images/joey-tribbiani.png');
}

.marcel {
  background-image: url('../images/marcel.png');
}

.monica-geller {
  background-image: url('../images/monica-geller.png');
}

.phoebe-buffay {
  background-image: url('../images/phoebe-buffay.png');
}

.rachel-greene {
  background-image: url('../images/rachel-greene.png');
}

.ross-geller {
  background-image: url('../images/ross-geller.png')
}

.richard-burke {
  background-image: url('../images/richard-burke.png');
}

.flex {
  display: flex;
}

header {
  width: 100%;
}
/* width set to 100% for header to take up entire space */

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside > div {
  background-color: #87CEEB;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  margin: 10px;
  background-color: #decbb7;
}

.stats > p {
  font-size: 25px;
}

main {
  flex-wrap: wrap;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.modal-overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 190vh;
}

.modal-content {
  background-color:#59ACF5;
  border: 5px solid black;
  width: 45vh;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* place this class at the bottom so that it's not overridden by cascading */
.hidden {
  display: none;
}

button {
  display: block;
  width: 40%;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
